/* Imposta uno sfondo per la pagina */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Stile per la mappa */
#map {
    height: 100vh;  /* la mappa occupa tutta l'altezza della finestra */
    width: 100%;
}

/* Aggiungi altri stili per eventuali elementi della pagina */
h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

/* Esempio di stile per il testo dei ristoranti */
.restaurant-name {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}
